<style type="text/css">
	td.otu_name, th.otu_name { 
		text-align: right;	
	}
	.popover-title {
		font-weight: bold;
	}
	th.chr_name {
		font-weight: normal;
	}
	th.character {
		text-align: center;
	}
</style>

<div style="margin: 5%">
	<div class="row">
		<div class="pull-left"><strong>Browsing Matrix: <%= @matrix.name -%></strong></div>
		<div class="pull-right">
		<!-- forms always have a 20px bottom margin? -->
			<%= form_tag '#browse_simple', { :class => 'form form-inline' } do -%>
				<!-- helperize this -->
				<%= label_tag(:mx_id, "Select a Matrix:") -%>
				<%= select_tag(:mx_id, options_from_collection_for_select(@mxes, "id", "name", @matrix.id)) -%>
				<%= submit_tag("Go", { :class=> 'btn'}) -%>
			<% end %>
		</div>
	</div>
	<div class="row">
		<% if @codings %>
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th class="character" colspan="<%= @total_chrs %>">Characters (<%= @total_chrs %>)</th>
					</tr>
					<tr>
						<th class="otu_name">OTUs (<%= @total_otus %>)</th>
						<% @codings[:chrs].each do |chr| -%>
							<th class="chr_name">
								<span rel="tooltip" class="chr_name" title="<%= chr.name %>"> <%= chr.short_name %></span>
							</th>
						<% end -%>
					</tr>
					</thead>
				<tbody>
				<% @codings[:grid].transpose.each_with_index do |chr_codings, i| %>
				<tr>
					<td class="otu_name"><%= @codings[:otus][i].name %></td>
					<% chr_codings.each_with_index do |coding_array, j| %>
					<td>
						<% if coding_array.empty? %>
								<span class="muted">0</span>
							<% else %>
								<a href="#" 
									 class="coding_popover " 
									 rel="popover"
									 data-content="<ol><% coding_array.each do |coding| -%><li><%= coding.chr_state_name %> <%= coding.ref.cached_display_name unless coding.ref.nil? %></li><% end %></ol>"
									 data-original-title="<%= coding_array.first.chr.name -%>">
									 <%= coding_array.count.to_s -%>
									 </a>
						<% end %>
					<% end %>
				</tr>
				<% end %>
				</tbody>
			</table>
		<% else %>
			<div class="alert">This matrix has no codings.</div>
		<% end %>
	</div>
</div>

<script>
	$('.coding_popover').popover({trigger: 'hover', html: true, placement: 'bottom', delay: {hide: 100} });
	$('.chr_name').tooltip();
</script>
