<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>
<% if !flash[:alert].blank? %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
<% end %>

<div>
  <h2>Validation results:</h2>
  <ul>
    <% @validator_messages.each do |m|  %>
      <li><%= m %></li>
    <% end %>
  </ul>
</div>
<div>
  <h2>Import results:</h2>
  <ul>
    <% @import_chrs_messages.each do |m|  %>
      <li><%= m %></li>
    <% end %>
  </ul>
  <ul>
    <% @import_datasets_messages.each do |m|  %>
      <li><%= m %></li>
    <% end %>
  </ul>
</div>
