<%= error_messages_for(@dataset) %>
  <table summary="Dataset detail view">
    <tr>
      <th><%= f.label(:uploaded_file) %></th>
      <td><%= f.file_field(:uploaded_file) %></th>
    </tr>
    <tr>
      <th><%= f.label(:status) %></th>
      <td><%= f.text_field(:status) %></th>
    </tr>
  </table>